@page
@model RazorPagesMovie.Pages.Movies.IndexDEController
@{
    ViewData["Title"] = "IndexDE";
}

<h2>IndexDE</h2>

@(Html.DevExtreme().DataGrid<RazorPagesMovie.Models.Movie>()
                .Columns(columns =>
                {
                    columns.AddFor(m => m.ID);
                    columns.AddFor(m => m.Title);
                    columns.AddFor(m => m.ReleaseDate);
                    columns.AddFor(m => m.Price);
                    columns.AddFor(m => m.Genre);
                    columns.AddFor(m => m.Rating);
                })
                .DataSource(new List<RazorPagesMovie.Models.Movie> {
new RazorPagesMovie.Models.Movie { ID = 1, Title = "The Shawshank Redemption" , Genre="Drama", Price=7.43M, Rating = "R", ReleaseDate = new DateTime (1994, 10, 14)},
new RazorPagesMovie.Models.Movie { ID = 2, Title = "The Godfather" , Genre="Crime", Price=6.52M, Rating = "R", ReleaseDate = new DateTime (1972, 03, 24) },
new RazorPagesMovie.Models.Movie { ID = 3, Title = "The Godfather: Part II" , Genre="Drama", Price=4.98M, Rating = "R", ReleaseDate = new DateTime (1974, 12, 20)  },
new RazorPagesMovie.Models.Movie { ID = 4, Title = "The Dark Knight" , Genre="Action", Price=8.12M, Rating = "PG-13", ReleaseDate = new DateTime (2008, 07, 18) },
new RazorPagesMovie.Models.Movie { ID = 5, Title = "12 Angry Men" , Genre="Crime", Price=9.27M, Rating = "Approved", ReleaseDate = new DateTime (1957, 04, 01)  },
new RazorPagesMovie.Models.Movie { ID = 6, Title = "Schindler's List" , Genre="Biography", Price=5.90M, Rating = "R", ReleaseDate = new DateTime (1994, 02, 04)  },
new RazorPagesMovie.Models.Movie { ID = 7, Title = "The Lord of the Rings: The Return of the King" , Genre="Adventure", Price=3.68M, Rating = "PG-13", ReleaseDate = new DateTime (2003, 12, 17)  }
        })
)

@*@(Html.DevExtreme().DataGrid()
                                .DataSource(dataSource => dataSource
                            .Mvc()
                            .Controller("IndexDE")
                            .Key("ID")
                            .LoadAction("GetMovies")
                            .InsertAction("InsertMovie")
                            .UpdateAction("UpdateMovie")
                            .DeleteAction("DeleteMovie")
                        )
    )*@