@page
@model RazorPagesMovie.Pages.Movies.IndexDEController
@{
    ViewData["Title"] = "IndexDE";
}

<h2>IndexDE</h2>
<br /> <br />

@(Html.DevExtreme().DataGrid<RazorPagesMovie.Models.Movie>()
                                                    .Columns(columns =>
                                                    {
                                                        columns.AddFor(m => m.ID);
                                                        columns.AddFor(m => m.Title);
                                                        columns.AddFor(m => m.ReleaseDate);
                                                        columns.AddFor(m => m.Price);
                                                        columns.AddFor(m => m.Genre);
                                                        columns.AddFor(m => m.Rating);
                                                    })
                                                    .DataSource(RazorPagesMovie.Pages.Movies.IndexDEController.movies)
)


