@page
@model RazorPagesMovie.Pages.Movies.RpMovieDEStatListController
@{
    ViewData["Title"] = "Razor Pages Movie - DevExtreme Static List";
}

<h2>Razor Page</h2>
<h4>Data Source: public static List<Movie> RazorPagesMovie.Pages.Movies.RpMovieDEStatListController.movies</h4>
<h4>
    Data Access Method:
    <br /> <br />
    .DataSource(RazorPagesMovie.Pages.Movies.IndexDEController.movies)
    <br /> <br />
</h4>
<h4>Display: Dev Extreme Data Grid</h4>
<h4>Other Info: None</h4>
<br /> <br />

@(Html.DevExtreme().DataGrid<RazorPagesMovie.Models.Movie>()
        .DataSource(RazorPagesMovie.Pages.Movies.RpMovieDEStatListController.movies)
        .Export(e => e.Enabled(true).FileName("DrawFromAbmc").AllowExportSelectedData(true))
                                                        .Columns(columns =>
                                                        {
                                                            columns.AddFor(m => m.ID);
                                                            columns.AddFor(m => m.Title);
                                                            columns.AddFor(m => m.ReleaseDate);
                                                            columns.AddFor(m => m.Price);
                                                            columns.AddFor(m => m.Genre);
                                                            columns.AddFor(m => m.Rating);
                                                        })
                                                        
)


