@page
@model RazorPagesMovie.Pages.DataGrids.RpRandomJsonDataDEEx3DGModel
@{
    ViewData["Title"] = "RpRandomJsonDataDEEx3DG";
}

<h2>RpRandomJsonDataDEEx3DG</h2>
<br /> <br />

@(Html.DevExtreme().DataGrid<RazorPagesMovie.Models.RandomExample>()
                                                        .Columns(columns =>
                                                        {
                                                            columns.AddFor(re => re.userId);
                                                            columns.AddFor(re => re.id);
                                                            columns.AddFor(re => re.title);
                                                            columns.AddFor(re => re.body);
                                                        })
                                                        .DataSource("https://jsonplaceholder.typicode.com/posts", "id")
)
