@page
@model RazorPagesMovie.Pages.DataGrids.RpRandomJsonDataDEEx2DGModel
@{
    ViewData["Title"] = "RpRandomJsonDataDEEx2DG";
}

<h2>RpRandomJsonDataDEEx2DG</h2>
<br /> <br />


@(Html.DevExtreme().DataGrid<RazorPagesMovie.Models.RandomExample>()
                                                        .Columns(columns =>
                                                        {
                                                            columns.AddFor(re => re.userId);
                                                            columns.AddFor(re => re.id);
                                                            columns.AddFor(re => re.title);
                                                            columns.AddFor(re => re.body);
                                                        })
                                                        .DataSource("https://jsonplaceholder.typicode.com/posts")
)
